table[class ~= "operands"] {
    border-spacing: 0px;
    border-collapse: collapse;
    font-family: sans-serif;
}

table[class ~= "operands"] th {
    margin: 0px;
    padding: 10px;
    font-size: 22px;
    font-weight: bold;
    text-align: left;
}

table[class ~= "operands"] td {
    margin: 0px;
    padding: 10px;
    font-size: 22px;
}

table[class ~= "operands"] td[class ~= "howto"] {
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-top: 3px solid black;
    background: grey;
    font-size: 10px;
    text-align: center;
    color: white;
}

table[class ~= "operands"] td[class ~= "bit"] {
    border-left: 1px solid silver;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    border-right: 1px solid silver;
    font-weight: bold;
}

table[class ~= "operands"] td[class ~= "reg"] {
    cursor: pointer;
}

table[class ~= "operands"] td[class ~= "result"] {
    background-color: #dddddd;
}

table[class ~= "operands"] td[class ~= "left"] {
    border-left: 3px solid black;
}

table[class ~= "operands"] td[class ~= "right"] {
    border-right: 3px solid black;
}

table[class ~= "operands"] td[class ~= "equal"] {
    margin: 0px;
    padding: 10px;
    font-size: 22px;
    font-weight: bold;
}

table[class ~= "operands"] td[class ~= "number"] {
    margin: 0px;
    padding: 10px;
    font-size: 22px;
    font-weight: bold;
    text-align: right;
}

table[class ~= "operands"] td[class ~= "numberhead"] {
    text-align: right;
}
